@model CDHB_Official.sakila.Subspecialty;

@{
    ViewData["Title"] = "Edit Subspecialty";
    Layout = "_Layout";
}


<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speciality" class="control-label"></label>
                <input asp-for="Speciality" class="form-control" />
                <span asp-validation-for="Speciality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubSpeciality" class="control-label"></label>
                <input asp-for="SubSpeciality" class="form-control" />
                <span asp-validation-for="SubSpeciality" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="Submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
